---
import data from "../data.json";
---

<div class="filter">
  <div style="display: flex; justify-items: center;">
    <forge-icon name="filter_alt" external id="filter-button"></forge-icon>
  </div>

  <div class="filter-content">
    <input type="checkbox" id="favorites" name="favorites" />
    <label for="favorites">Favorites</label>
  </div>
  <div class="filter-content">
    <input type="checkbox" id="admin" name="admin" />
    <label for="favorites">Admin</label>
  </div>
  <div class="filter-content">
    <p style="margin-bottom: 6px; font-weight: 500; font-size: 1.1rem">
      Filter by product
    </p>
    {
      data.map((product) => (
        <div>
          <input type="checkbox" id={product.name} name={product.name} />
          <label for={product.name}>
            {product.name} ({product.apps.length})
          </label>
        </div>
      ))
    }
  </div>
</div>
<style>
  .filter {
    height: 800px;
    /* border: 1px solid #777; */
    background-color: rgba(172, 172, 172, 0.7);
    border-radius: 4px;
    display: grid;
    align-content: start;
    gap: 8px;
    padding: 10px;
  }
  .collapse {
    width: 32px;
  }
  .hide {
    display: none;
  }
</style>
<script>
  const filter = document.getElementById("filter-button");
  const filterContent = document.getElementsByClassName("filter-content");
  filter?.addEventListener("click", () => {
    filter?.classList.toggle("collapse");
    for (let i = 0; i < filterContent.length; i++) {
      filterContent[i].classList.toggle("hide");
    }
  });
</script>
