---
import AppInCard from "./AppInCard.astro";
const { product } = Astro.props;
const productPath = product.name.toLowerCase().split(" ").join("-");
const { apps } = product;
---

<forge-card class="preview__card">
  <forge-toolbar>
    <div slot="start" class="product-name-container">
      <forge-icon
        name={product.icon ? product.icon : "app_registration"}
        external
        id="app-icon-preview"></forge-icon>
      <h2 slot="start" class="forge-typography--title">
        {product.name}
      </h2>
    </div>
  </forge-toolbar>
  <div class="preview__body" id="app-card-grid">
    {
      apps
        .slice(0, 3)
        .map((app) => (
          <AppInCard
            name={app.name}
            description={app.description}
            isAdmin={app.isAdmin}
          />
        ))
    }
    {
      apps.length > 3 && (
        <div>
          <a href={`product-cards/${productPath}`}>see more</a> ({" "}
          {apps.length - 3} )
        </div>
      )
    }
  </div>
</forge-card>
<style>
  .preview__card {
    width: 100%;
    --forge-card-padding: 0;
  }
  .preview__body {
    padding: 16px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
  }
</style>
